.web-image{
    display: block;
    border: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    height: 44px;
}

.header{
    display: flex;
    align-items: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

.header a {
    text-decoration: none;
    color: #bbb;
    display: inline-block;
    white-space: normal;
    word-wrap:break-word;


}
.header-creategroup{
    padding: 0px 16px 0px 20px;
}

.header-login{
    padding: 0px 0px 0px 20px;
}

.header-signin{
    padding: 0px 0px 0px 20px;
}

.web-link{
    width: 75%;
}

.header-creategroup{
    color:#00a2c7!important;
    font-display: bold;
    border-right: 1px solid #ccc;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
}

.header a:first-child{
    padding: 20px;
}

a{
    text-decoration: none !important;
}

@media (min-width: 640px){

.header-creategroup{
    display:block !important;
    }
}

@media (max-width: 640px){
    .header-creategroup{
        display: none !important;
        
    }
}