.learnmore{
     margin-top: 40px;
}

.learnmore-image img{
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 400px;
}

.learnmore-group{
    background-color: #7a1d47;
    margin-right: 25px;
    color: #fff;
    padding: 70px 60px 10px 60px;
}
.aboutgroup{
    margin-bottom: 50px
}
.gettoknowgroup a{
    text-decoration: none;
    color: #fff!important;
    font-size: 15px;
}


 
.gettoknowgroup-start{
    background-color: #f65858;
    border-radius: 5px;
    transition: 0.2s;
}

.gettoknowgroup-start:hover{
    background-color: rgba(246,88,88,.9);
}

.gettoknowgroup-more{
    border-radius: 5px;
    border: 1px solid #fff;
}