
/* .text-sectiontitle{
    display: flex;
    align-items: center;

}  */
.text-sectiontitle h2{
    margin: 0px;
}
.text-sectiontitle p {
 
    margin: 0px;
}

.container p{
    margin-block-start: 0em;
    margin-block-end: 5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.col-auto{
    padding-left: 0px;
}
.justify-content-between{
    margin: 2rem 0px;
}
.col-auto h4{
    font-size: 20px;
    line-height: 1.45;
    margin-bottom: 0;
}

.section1 a {
    text-decoration: none;
    color: #00a2c7 !important;
}


.section2 a {
    text-decoration: none;
    color: #00a2c7 !important;
}